#result-group-details-section {
    margin: 10px 0 0 0;
    color: #383B3F;
}

#result-group-details-section .accordion-button:focus {
    box-shadow: none;
}

#result-group-details-section .result-group-header {
    margin-bottom: 10px;
}

#result-group-details-section .result-group-detail {
    margin-bottom: 5px;
}