#result-group-details-section {
    margin: 20px 0 0 0;
    color: #383B3F;
}

/* .pre-calculation-group-title {
    text-align: center;
}

.result-group-details-item {
    font-size: 1.1rem;
    margin: 0 0 5px 0;
}

.pre-calculation-group-students {
    font-size: 1.1rem;
    margin: 20px 0 0 0 ;
} */