#day-change-container {
    width: 100%;
}

#add-day-change-btn {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

#day-change-modal .btn-close {
    box-shadow: none;
}