/* Large devices (desktops, less than 1200px) */
@media (max-width: 991.98px) {
    #groups-result-by-schedule-list {
        height: auto;
    }    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .title-container h1 {
        font-size: 1rem;
        padding: 0 0 0 20px;
    }

    .buttons-container .btn {
        font-size: 0.8rem;
    }

    #btn-do-print {
        display: none;
    }
 }


 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    #pre-calculation-group-details-section .pre-calculation-group-students,
    #result-group-details-section .accordion .accordion-body {
        overflow-x: scroll;
    }

}